<div>
  <div>
    <h2>
      Edit movie
    </h2>

    <% @movie.errors.full_messages.each do |message| %>
    <p style="color: red;"><%= message %></p>
    <% end %>

    <%= form_with(url: movie_path(@movie), method: :patch) do %>

    <div>
      <%= label_tag :title %>
      <%= text_field_tag :title, @movie.title %>
      </div>

      <div>
      <%= label_tag :description_box, "Description" %>
      <%= text_area_tag :description, @movie.description, id: "description_box", rows: 3 %>
      </div>

     <%#  <div>
        <input type="checkbox" id="released_box" name="query_released" value="1">

        <label for="released_box">Released</label>
      </div>
      %>

      <%= button_tag "Update movie" %>

    </form>
  </div>
    <% end %>
