  <div>
    <h2>
      New movie
    </h2>

  <%= form_with(url: movies_path) do %>
     
      <div>
      <%= label_tag :title, "Title" %>
      <%= text_field_tag "movie[title]", @movie.title %>
      </div>

      <div>
      <%= label_tag :description, "Description" %>
      <%= text_area_tag "movie[description]", @movie.description, rows: 3 %>
      </div>

     <%#  <div>
        <input type="checkbox" id="released_box" name="query_released" value="1">

        <label for="released_box">Released</label>
      </div>
      %>

      <%= button_tag "Create movie" %>

    </form>
  </div>
</div>
<% end %>
