  <div>
    <h2>
      New movie
    </h2>

  <%= form_with(url: movies_path) do %>
     
      <div>
      <%= label_tag :title_box, "Tiltle" %>
      <%= text_field_tag :query_title, @the_movie.title, id: "title_box" %>
      </div>

      <div>
      <%= label_tag :description_box, "Description" %>
      <%= text_area_tag :query_description, @the_movie.description, id: "description_box", rows: 3 %>
      </div>

     <%#  <div>
        <input type="checkbox" id="released_box" name="query_released" value="1">

        <label for="released_box">Released</label>
      </div>
      %>

      <%= button_tag "Create movie" %>

    </form>
  </div>
</div>
<% end %>
