  <div>
    <h2>
      New movie
    </h2>

  <%#= form_with(url: movies_path) do %>
    <%# end  %>

  <%= form_with(model: @movie) do |form| %>
     
      <div>
      <%= form.label :title %>
      <%= form.text_field :title#"movie[title]", @movie.title %>
      </div>

      <div>
      <%= label :description %>
      <%= text_area :description, rows: 3 %>
      </div>

     <%#  <div>
        <input type="checkbox" id="released_box" name="query_released" value="1">

        <label for="released_box">Released</label>
      </div>
      %>

      <%= form.button %>

    </form>
  </div>
</div>
<% end %>
